body{
  font-family: Arial, Helvitica, sans-serif;
}

*{
 box-sizing: border-box;
}

.bg-img{
  background-image: url("images/bg.JPG");
  min-height: 790px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;  
  position: relative; 
}

​.container {
  position: absolute;
  margin: 20px;
  width: auto;
}

.topnav {
  margin-left: 560px;
  height: 36px;
  padding: 0.1px;
  background-color: #2c3533; 
}

.topnav a {
  float: center;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 14px;
  text-decoration: none;
  font-size: 17px; 
}
  
.topnav a:hover {
  background-color: white;
  color: black;
}


.header {
  padding: 20px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 30px;
  margin-left: 560px;
}

P {
  color: rgb(87, 79, 74);     
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  }

.about-section {
  padding: 50px;
  text-align: center;
  background-color: #1abc9c;
  color: white;
}
  